{% extends "base.html" %}
{% load static %}
{% block first %}
<!-- about us start-->
<section class="section about-us background--brown">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading heading--primary">
                    <h2 class="heading__title"><span>About</span> <span>Pyaar Foundation</span></h2>
                </div>
                <p><strong>" पशु रक्शनये सदैव तत्पर "</strong></p>
                <p>With the vision and mission of <strong> Pashu Rakhshanay Sadaiv tatpar - Petanity and
                    animal rehabilitators Foundation _ chandrapur </strong> was founded in 2018 with
                    an aim to save and serve every needy street animal to get a second chance to live a
                    happy life.
                </p>
                <p><strong>HUMAN INVOLVEMENT</strong></p>
                <p>On the counter part Pyaar foundation always succeeded in reducing human-animal
                    conflict by generating awareness on various animal issues .
                    On an average every year thousands of lives get a new quality life to exist at our
                    rehabilitation shelter
                </p>
                <a class="button button--primary" href="about.html">More
                About</a>
            </div>
            <div class="col-lg-6 col-xl-5 offset-xl-1">
                <div class="info-box">
                    <img class="img--bg" src="{% static 'img/02-1.jpg' %}" alt="img" />
                    <h4 class="info-box__title">We are Awesome Volounteer Team</h4>
                    <p>Energetic and enthusiastic every volunteer at Pyaar Foundation is a reason for a
                        smile on our Rescued babies at shelter their involvement is the only energy with
                        us which always keep us awaken 24×7 to give the innocence a reason to smile.
                    </p>
                    <a class="info-box__link" href="Volunteer">Become a volounteer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us end-->
<!-- section start-->
<section class="section" style="padding:70px !important;">
    <div class="container">
        <div class="row margin-bottom">
            <div class="col-12">
                <div class="heading heading--primary heading--center">
                    <h2 class="heading__title"><span>We do it</span> <span>for all Animals</span></h2>
                </div>
            </div>
        </div>
        <div class="row offset-margin">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/vaccination.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Vaccination Camps</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/awarness.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Awarness camps</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/grooming.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Grooming Services</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/day_care.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Day care Services</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/justice.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Legal Awarness</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/adoption.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Adoption camps</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/volounteers.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Best Volounteers</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="icon-item">
                    <div class="icon-item__img"><img src="{% static 'img/donate.png' %}" alt="icon" /></div>
                    <div class="icon-item__text">
                        <p style="font-size: 16px;">Donation Around the World</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end-->
<!-- section start-->
<section class="section" style="padding:0px !important;">
    <div class="projects-slider">
        <div class="projects-slider__item">
            <div
                class="projects-masonry__item projects-masonry__item--primary projects-masonry__item--height-2">
                <div class="projects-masonry__img">
                    <img class="img--bg" src="{% static 'img/Calf_Section.jpg' %}"
                        alt="img" />
                    <div class="projects-masonry__inner">
                        <h3 class="projects-masonry__title"> <a href="cause-details.html">Gaushala</a>
                        </h3>
                        <p>गाय के महत्व को जानकर ही हिन्दू धर्म में इसे माता का दर्जा दिया गया है. गाय
                            हर प्रकार के सुख को प्रदान करने वाली होती हैं.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider__item">
            <div
                class="projects-masonry__item projects-masonry__item--primary projects-masonry__item--height-2">
                <div class="projects-masonry__img">
                    <img class="img--bg" src="{% static 'img/Dogs_Section.jpg' %}"
                        alt="img" />
                    <div class="projects-masonry__inner">
                        <h3 class="projects-masonry__title"> <a href="cause-details.html">Dogs
                            Section</a>
                        </h3>
                        <p>At Pyaar We provide treatment for injured dogs which got in road accident,
                            dogs attack with our specilised doctors team. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider__item">
            <div
                class="projects-masonry__item projects-masonry__item--primary projects-masonry__item--height-2">
                <div class="projects-masonry__img">
                    <img class="img--bg" src="{% static 'img/Cats_Section.jpg' %}"
                        alt="img" />
                    <div class="projects-masonry__inner">
                        <h3 class="projects-masonry__title"> <a href="cause-details.html">Cats
                            Section</a>
                        </h3>
                        <p>At Pyaar We provide treatment for injured cats which got in accident, dogs
                            attack with our specilised doctors team. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider__item">
            <div
                class="projects-masonry__item projects-masonry__item--primary projects-masonry__item--height-2">
                <div class="projects-masonry__img">
                    <img class="img--bg" src="{% static 'img/Rabit_Section.jpg' %}"
                        alt="img" />
                    <div class="projects-masonry__inner">
                        <h3 class="projects-masonry__title"> <a href="cause-details.html">Rabit
                            Section</a>
                        </h3>
                        <p>As we know people are entuastics to get pets at there home from taking there
                            naturelar habitual so sometimes there are unable to take care and surrender
                            to us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects-slider__item">
            <div
                class="projects-masonry__item projects-masonry__item--primary projects-masonry__item--height-2">
                <div class="projects-masonry__img">
                    <img class="img--bg" src="{% static 'img/Duck_Section.jpg' %}"
                        alt="img" />
                    <div class="projects-masonry__inner">
                        <h3 class="projects-masonry__title"> <a href="cause-details.html">Duck
                            Section</a>
                        </h3>
                        <p>Rockweed gunnel; candlefish mail-cheeked fish, yellowtail snapper cuskfish
                            elasmobranch seamoth triggerfish gar 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end-->
</main>
{% endblock %}